<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="personDao" class="ru.sergey_gusarov.hw1.dao.PersonDaoSimple">
    </bean>

    <bean id="personService" class="ru.sergey_gusarov.hw1.service.PersonServiceImpl">
        <property name="dao" ref="personDao"/>
    </bean>

    <bean id="loginService" class="ru.sergey_gusarov.hw1.service.login.LoginServiceImplPrompt">
        <property name="personService" ref="personService"/>
    </bean>

    <bean id="readQuestionFileService"
          class="ru.sergey_gusarov.hw1.service.read.file.ReadQuestionFileServiceImplCsv">
    </bean>

    <bean id="questionDaoFileSource" class="ru.sergey_gusarov.hw1.dao.QuestionDaoFileSource">
        <property name="readQuestionFileService" ref="readQuestionFileService"/>
    </bean>

    <bean id="testingService"
          class="ru.sergey_gusarov.hw1.service.testing.TestingServiceImplFile">
    </bean>

</beans>

